@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Tailwind Blue-500 */
	--color-swift: #3B82F6;
	/* Tailwind Emerald-400 */
	--color-kotlin: #34d399;
	/* Tailwind Orange-600 */
	--color-typescript: #ea580c;
	/* Tailwind Amber-500 */
	--color-php: #f59e0b;
}

.hljs {
	background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity))) !important;
}

.h1 {
	@apply text-3xl sm:text-4xl font-extrabold;
}

.h2 {
	@apply text-xl sm:text-2xl font-extrabold;
}

.subheader {
	@apply font-semibold  text-xl;
}

.hero {
	@apply min-h-[35%];
}

.mini-headline {
	@apply font-extrabold;
}

.color-github-logo {
	@apply fill-black;
}

@media (prefers-color-scheme: dark) {
	.color-github-logo {
		@apply fill-white;
	}
}