# Added by Payload
DATABASE_URI=mongodb://127.0.0.1/something
PAYLOAD_SECRET=SECRET
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

#Mailpit for local development
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_USER="literally"
SMTP_PASS="anything"